<!-- views/appointments.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Appointments</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h2>Appointments</h2>
  <a href="/appointments/add">Add Appointment</a>
  <a href="/users">User Management</a>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Meeting With</th>
        <th>Date</th>
        <th>Time</th>
        <th>Phone Number</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% appointments.forEach(appointment => { %>
        <tr>
          <td><%= appointment.name %></td>
          <td><%= appointment.meetingWith %></td>
          <td><%= appointment.datetime.toLocaleDateString() %></td>
          <td><%= appointment.datetime.toLocaleTimeString() %></td>
          <td><%= appointment.phoneNumber %></td>
          <td><%= appointment.status %></td>
          <td>
            
            <a href="/appointments/edit/<%= appointment._id %>" class="btn btn-update">Update</a>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
