<h1>Appointments</h1>
<a href="/appointments/add">Add Appointment</a>
<table>
  <tr>
    <th>Name</th>
    <th>Meeting With</th>
    <th>Date</th>
    <th>Phone Number</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  <% appointments.forEach(appointment => { %>
    <tr>
      <td><%= appointment.name %></td>
      <td><%= appointment.meetingWith %></td>
      <td><%= appointment.datetime.toLocaleString() %></td>
      <td><%= appointment.phoneNumber %></td>
      <td><%= appointment.status %></td>
      <td>
        <form action="/appointments/delete/<%= appointment._id %>" method="POST">
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
  <% }) %>
</table>
